#map {
  height: 70vh;
  width: 100vw;
}
.data:not(:hover) {
  opacity: 0.5;
  background-color: transparent;
}
.leaflet-container {
  width: 100vw;
  height: 70vh;
}
.custom-popup,
.leaflet-popup-content-wrapper {
  font-size: 20px;
}
